/* Global styles for the entire page */
body {
    margin: 0;
    padding: 0;
    background-color: #FFFBF6;
}

/* Header 3 styling */
h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

/* General paragraph styling */
p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

/* Navigation bar container */
.main-nav {
    background-color: #262F4C;
    width: 100%;
    padding: 10px 0;
}

.main-nav ul {
    display: flex;             
    justify-content: center;
    list-style: none;
}

.main-nav li {
    margin: 0 30px;
    border-right: 1px white solid;
    padding-right: 50px;
}

.main-nav li:last-child {
    border-right: none;
    padding-right: 0;
}

.main-nav a {
    color: #FFFBF6;
    text-decoration: none; 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    display: inline-block;
}

.main-nav a:hover {
    color: #BDFFBE;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    transform: scale(1.2);
}

/* --- Back to Top Button --- */
.to-top-button {
    position: fixed;
    bottom: 90px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 1000;
    transition: all 0.3s ease;

    opacity: 0;
    pointer-events: none; 
    transform: translateY(20px);
}

.to-top-button.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.to-top-button img {
    width: 70px;
    height: auto;
}

.to-top-button:hover {
    transform: translateY(-10px);
}

/* Footer styling */
footer {
    background-color: #004D36;
    width: 100%;
    padding: 10px 0;
}

footer p {
    text-align: center;
    color: #FFFBF6;
}